VITE_WEATHER_API_KEY=your_openweathermap_api_key_here
VITE_MAP_API_KEY=your_mapbox_or_google_maps_key_here
VITE_CURRENCY_API_KEY=your_exchangerate_api_key_here
VITE_AI_API_KEY=your_openai_or_gemini_api_key_here
